// Use @use instead of @import with optional namespace aliases
@use '../../../../../../theme/styles/global/variables' as vars;
@use '../../../../../../theme/styles/global/font_variables' as fonts;
@use '../../../../../../theme/styles/global/mixins' as mixins;
@use '../../../../../../theme/styles/global/breakpoints' as breakpoints;

.course-detail-header {
    padding: 1rem 0;
    border-bottom: 1px solid vars.$border-color;

    &__grid {
        padding: 0;

        &-right {
            justify-content: end;
        }
    }
}

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

@include mixins.respond-to(xxl) {}

@include mixins.respond-to(xl) {}

@include mixins.respond-to(lg) {}

@include mixins.respond-to(md) {
    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: flex;
    }
}

@include mixins.respond-to(sm) {}

@include mixins.respond-to(xs) {}

@include mixins.respond-to(xxs) {}