.cartLecturerIcon {
    right: 0;
    top: 112;
    z-index: 999;
    display: flex;
    cursor: pointer;
    position: fixed;
    color: var(--text-primary);
    border-top-left-radius: 16;
    border-bottom-left-radius: 16;
    background-color: var(--background-paper);
    padding: 1rem 3rem 1rem 2rem;
    box-shadow: var(--custom-shadows-dropdown);
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.72;
    }
}