// Use @use instead of @import with optional namespace aliases
@use '../../../../../../theme/styles/global/variables' as vars;
@use '../../../../../../theme/styles/global/font_variables' as fonts;
@use '../../../../../../theme/styles/global/mixins' as mixins;
@use '../../../../../../theme/styles/global/breakpoints' as breakpoints;

.course-modules {
    padding: 1rem;

    &__list {
        max-height: 300px;
        overflow-y: auto;
    }

    button {
        text-align: left;
        width: 100%;
    }
}

@include mixins.respond-to(xxl) {}

@include mixins.respond-to(xl) {}

@include mixins.respond-to(lg) {}

@include mixins.respond-to(md) {
    .course-info {
        flex-direction: column;
    }
}

@include mixins.respond-to(sm) {
    .course-modules {
        .course-modules__list {
            max-height: none;
        }
    }
}

@include mixins.respond-to(xs) {}

@include mixins.respond-to(xxs) {}