@use '../../../../../../theme/styles/global/variables' as vars;
@use '../../../../../../theme/styles/global/font_variables' as fonts;
@use '../../../../../../theme/styles/global/mixins' as mixins;
@use '../../../../../../theme/styles/global/breakpoints' as breakpoints;

.course-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-image {
             width: 100%;
             height: auto;

             img {
                object-fit: cover;
                border-radius: 1rem;
             }
        }
    }

    &__upload {
        display: flex;
        gap: 1rem;

        button {
            min-width: 100px;
        }
    }

    &__learning-goals {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .course-info__goal-item {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__status-type {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        .course-info__type-select {
            min-width: 200px;
        }
    }

    &__actions {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        button {
            min-width: 150px;
        }
    }
}

// Responsive Styles
@include mixins.respond-to(md) {
    .course-info {
        &__header {
            flex-direction: column;
        }

        &__upload {
            flex-direction: column;
            align-items: flex-start;
        }

        &__status-type {
            flex-direction: column;
            align-items: flex-start;
        }

        &__actions {
            flex-direction: column;
            align-items: stretch;
        }
    }
}