@import "../../../../../../theme/styles/global/variables";
@import "../../../../../../theme/styles/global/font_variables";
@import "../../../../../../theme/styles/global/breakpoints";
@import '@mixins';
@import '@breakpoints';

.courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid $border-color;
    border-radius: 1rem;

    &__title {
        flex-grow: 1;
        text-align: left;
    }
}

@include respond-to(xxl) {}

@include respond-to(xl) {
}

@include respond-to(lg) {
}

@include respond-to(md) {
}

@include respond-to(sm) {
}

@include respond-to(xs) {
}

@include respond-to(xxs) {
}