@use '../../../../../../theme/styles/global/variables' as vars;
@use '../../../../../../theme/styles/global/font_variables' as fonts;
@use '../../../../../../theme/styles/global/mixins' as mixins;
@use '../../../../../../theme/styles/global/breakpoints' as breakpoints;

.courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid vars.$border-color;
    border-radius: 1rem;

    &__title {
        flex-grow: 1;
        text-align: left;
    }
}

@include mixins.respond-to(xxl) {}

@include mixins.respond-to(xl) {}

@include mixins.respond-to(lg) {}

@include mixins.respond-to(md) {}

@include mixins.respond-to(sm) {}

@include mixins.respond-to(xs) {}

@include mixins.respond-to(xxs) {}